:root{
	--main-bg-color: #DCDCDD;
	--repo-inner-border: #C5C3C6;
	--border-color: #123f4b;
	--link-color: #006064;
	--border-thin-size: 1px;
	--border-size: 2px;
	--border-radius: 20px;
}

a{
	color: var(--link-color);
	text-decoration-line: none;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: var(--main-bg-color);
}

body > *{
	margin-left:auto;
	margin-right:auto;
	display: flex;
}

h1{
	justify-content: center;
}

#search{
	max-width: 600px;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#user-container{
	max-width: 600px;
}
#user{
	border-color: var(--border-color);
	border-radius: var(--border-radius);
	border-width: var(--border-size);
	border-style: solid;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: fit-content(18rem) auto;
}

#user img{
	max-width: 90%;
	margin: 5%;
	border-radius: 50%;
}

#user span{
	grid-column: 2 / 4;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 1rem;
}

#user p{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#user main{
	grid-column: 1 / 4;
	grid-row: 2;
	margin-top: 0.8rem;
	margin-bottom: 1rem;
	padding-left: 6px;
}

#repos{
	max-width: 600px;
	flex-direction: column;
}
#repos div{
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: var(--border-color);
	border-radius: var(--border-radius);
	border-width: var(--border-size);
	border-style: solid;
}
#repos div > *{
	padding-left: 6px;
	padding-right: 6px;
}

#repos header{
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: var(--border-thin-size) solid var(--repo-inner-border);
}

.repo-name{
	font-size: 1.6rem;
}
.repo-name span{
	font-size: 1rem;
	margin-left: 1rem;
}

#repos main{
	padding-top: .5rem;
	padding-bottom: .5rem;
	display: flex;
	align-items: center;
}
#repos header + footer{ /* when there is no description */
	border-top: 0;
}

#repos footer{
	font-size: 0.8rem;
	height: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: var(--border-thin-size) solid var(--repo-inner-border);
}
