:root{
	--main-bg-color: #DCDCDD;
	--repo-inner-border: #C5C3C6;
	--border-color: #123f4b;
	--link-color: #006064;
	--border-thin-size: 1px;
	--border-size: 2px;
	--border-radius: 20px;
	--timeline-bar-color: white;
	--timeline-circle-fill: white;
	--timeline-circle-border: lightgreen;
	--repo-width: 750px;
	--timeline-bar-width: 35px;
	--timeline-circle-diameter: 20px;
}

a{
	color: var(--link-color);
	text-decoration-line: none;
}

body{
	font-family: 'Roboto', sans-serif;
	text-overflow: ellipsis;
	background-color: var(--main-bg-color);
}

h1, #search, #user-container, #repos, .timeline{
	margin-left:auto;
	margin-right:auto;
	display: flex;
}

h1{
	justify-content: center;
}

#search{
	max-width: 600px;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	flex-direction: column;
}

#user-container{
	max-width: calc(var(--repo-width) + var(--timeline-bar-width));
}
#user{
	border-color: var(--border-color);
	border-radius: var(--border-radius);
	border-width: var(--border-size);
	border-style: solid;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: fit-content(18rem) auto;
}

#user img{
	max-width: 90%;
	margin: 5%;
	border-radius: 50%;
}

#user span{
	grid-column: 2 / 4;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 1rem;
	margin-left: 3rem;
}

#user p{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#user main{
	grid-column: 1 / 4;
	grid-row: 2;
	margin-top: 0.8rem;
	margin-bottom: 1rem;
	padding-left: 6px;
}

.timeline{
	max-width: calc(var(--repo-width) + var(--timeline-bar-width));
}
.timeline::before{
	content: '';
	position: relative;
	width: 6px;
	background-color: var(--timeline-bar-color);
	top: 0;
	bottom: 0;
	left: calc(var(--timeline-bar-width) / 2);
	margin-left: calc(var(--timeline-bar-width) / 2);
}
#repos > div::after{/*whem div is small it stay out of the bar*/
	content: '';
	position: absolute;
	width: var(--timeline-circle-diameter);
	height: var(--timeline-circle-diameter);
	left: calc(-8px - var(--timeline-circle-diameter)/2 - var(--timeline-bar-width) * .5);;
	background-color: var(--timeline-circle-fill);
	border: 4px solid var(--timeline-circle-border);
	top: 15px;
	border-radius: 50%;
	z-index: 1;
	box-shadow: 0 0 15px #00000050;
}
#repos{
	max-width: var(--repo-width);
	flex-direction: column;
	flex-basis: 100%;
	margin-left: var(--timeline-bar-width);
}
#repos div{
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: var(--border-color);
	border-radius: var(--border-radius);
	border-width: var(--border-size);
	border-style: solid;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#repos div > *{
	padding-left: 6px;
	padding-right: 6px;
}

#repos header{
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: var(--border-thin-size) solid var(--repo-inner-border);
}
.repo-name a{
	overflow: hidden;
	text-overflow: ellipsis;
}

.repo-name{
	font-size: 1.6rem;
	display: grid;
	align-items: baseline;
	grid-template-columns: auto max-content;
	white-space: nowrap;
}
.repo-name span{
	font-size: 1rem;
	margin-left: 0.4rem;
	margin-right: 0.8rem;
}

#repos main{
	padding-top: .5rem;
	padding-bottom: .5rem;
	display: flex;
	align-items: center;
}
#repos header + footer{ /* when there is no description */
	border-top: 0;
}

#repos footer{
	font-size: 0.8rem;
	height: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: var(--border-thin-size) solid var(--repo-inner-border);
}
